* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(102, 98, 93);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.btnEnviar{
    border-radius: 9px;
    color: rgb(0, 0, 0);
}

.inputText {
  width: 100%;
  max-width: 320px;
  padding: 12px 16px;
  font-size: 15px;
  color: #000000;
  background-color: #686154;
  border: 2px solid #312e29;
  border-radius: 10px;
  outline: none;
  transition: all 0.5s ease;
}

.inputText:focus {
  border-color: #312b1f;
  background-color: #857d7a;
  box-shadow: 0 0 0 4px rgb(83, 80, 75);
}

.inputText::placeholder {
  color: #a0aec0;
}

.inputText {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #070502;            
  font-size: 16px;           
  font-weight: 600;          
  letter-spacing: 0.5px;    
  text-transform: uppercase; 
}

